.articles{
     margin:auto;
     padding:25px 25px;
     display:flex;
     align-items:center;
     justify-content: center;
     background-color: rgba(255, 206, 214, 0.74);
     margin-top: 20px;
     width:fit-content;
     border-radius: 10px;
}

.total_area{  
      margin:50px;
}

.articles img{ 
        border-radius: 10px;
        border:2px solid black;
     }

article{ 
     padding-inline: 60px;
}

.reverserow{
    flex-direction: row-reverse;
}