
* {
  margin: 0%
}

li {
  display: inline;
}

header {
  display: flex
}

header img {
  border-radius: 50%;
  border: 3px solid rgb(250, 246, 196);
  position: relative;
  left: 5%;
  top: 8%;
}

#navbar a:link {
  text-decoration: none;
  color: #d4923b;
  margin-right: 5px;
  float: center;
  padding: 6px;
  background-color: #5d1d6db6;
  border-radius: 8px;
  font-size: 18px;
  position: relative;
  left: 50%;
  top: 25px;
}

#navbar a:hover {
  background-color: rgb(252, 210, 119);
}

#navbar a:active {
  background-color: rgb(250, 172, 3);
}

#navbar a:visited {
  background-color: rgb(250, 229, 41);
}

body {
  background-color: antiquewhite;

  background-size: cover;
  background-repeat: no-repeat;
  max-width:fit-content;
  overflow-x:hidden;
}

.content {z-index: 1;
  margin: auto;
  background-image: url("background.jpg");
  opacity: .9;
  background-color: #cccccc;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 242, 255);
  position: relative;
  top: 1.5%;
  box-shadow: black 50px;
}

.content img {

  border-radius: 5px 50px;
  border: 3px solid rgb(204, 204, 141);
}

.contentin {
  display: inline;
  max-width: 60%;
  position: relative;
  left: -5%;
  padding: 2%
}

.contentin::first-letter {
  font-size: 200%;
}
