
        card {
           position: relative;
           left:120px;
           
        }

        firstrow {
            display: flex;
        }

        secondrow {
            display: flex;
        }



        .card {
            border: 2px solid rgb(238, 255, 249);
            background-color: aquamarine;
            display: flex;
            max-width: 350px;
            max-height: 120px;
            border-radius: 5px;
            box-shadow: 5px 5px 15px rgb(34, 77, 143);
            flex-direction: row-reverse;
            margin: 15px;
        }

        .summery {
            
            max-width: 500px;
            line-height: 15px;
            position: relative;
            bottom: 15px;
            text-align: center;
            justify-content: center;
            padding: 0px 0px;
            
        }

        .feature {
            background-color: rgb(255, 255, 0);
            max-width: cover;
            position: relative;
            bottom: 5px;
            text-align: center;
            color: rgb(255, 2, 158);
            font-weight: bolder;
        }


        .card:hover {
            transform: scale(1.10);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
        }

        .card {
            transition: 0.3s ease;
            cursor: pointer;
        }


        @media only screen and (max-width: 825px) {
            card {
                position: static;
             }
           
            .feature {
                position: relative;
                bottom: 20px;
                margin: 0;
            }

        }

        @media only screen and (max-width: 648px) {
            .feature {
                position: relative;
                bottom: 30px;
                margin: 0;
                font-size: 12px;
              
            }

        }


        @media only screen and (max-width: 530px) {
            firstrow {
                display: table;
            }

            secondrow {
                display: table;
            }

            .feature {
                position: relative;
                top: .3px;
            }

        }


        @media only screen and (max-width: 430px) {
            .feature {
                position: relative;
                bottom: 20px;
                margin: 0;
            }

            .summary {
                margin: 0;
            }
        }

        @media only screen and (max-width: 360px) {
            .card {
                border: 2px solid rgb(238, 255, 249);
                max-height: 250px;
                max-width: 160px;
                flex-direction: column;
            }

            .summary {
                text-align: center;
                justify-content: center;
            }

            .card img {
                width: 160px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }